.intro-header {
    width: 100%;
    height: 100vh;
    display: flex;
    background: url("https://lorempixel.com/1140/456/?random") no-repeat center fixed;
    background-size: cover;
    animation: changebg 25s linear infinite;
}
.intro-header .aside {
    flex: 1 1 50%;
    text-align: center;
}
.intro-header .box {
    width: 100px;
    height: 100px;
    background: #fff;
    border: 5px solid #f36;
    border-radius: 50%;
    margin: 3rem auto;
}
.intro-header h2 {
    font-size: 3rem;
    margin: 2rem auto;
    color: #fff;
}
.aside-first {
    padding-top: 10rem;
}
.aside-first .box, .aside-first h2 {
    mix-blend-mode: difference;
}
.aside-second {
    padding-top: 35rem;
}
.aside-second .box, .aside-second h2 {
    mix-blend-mode: exclusion;
}
@keyframes changebg {
    0% {
        background-image: url("https://lorempixel.com/1140/673?image=0")
    }
    10% {
        background-image: url("https://lorempixel.com/1140/673?image=1")
    }
    20% {
        background-image: url("https://lorempixel.com/1140/673?image=2")
    }
    30% {
        background-image: url("https://lorempixel.com/1140/673?image=3")
    }
    40% {
        background-image: url("https://lorempixel.com/1140/673?image=4")
    }
    50% {
        background-image: url("https://lorempixel.com/1140/673?image=5")
    }
    60% {
        background-image: url("https://lorempixel.com/1140/673?image=6")
    }
    70% {
        background-image: url("https://lorempixel.com/1140/673?image=7")
    }
    80% {
        background-image: url("https://lorempixel.com/1140/673?image=8")
    }
    90% {
        background-image: url("https://lorempixel.com/1140/673?image=9")
    }
    100% {
        background-image: url("https://lorempixel.com/1140/673?image=10")
    }
}
