<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="TingGe Blog Agile agile JavaScript NodeJS">
  <meta name="author" content="TingGe<505253293@163.com>">
  <title>听歌实验室</title>
  <link type="image/x-icon" rel="shortcut icon" href="https://avatars3.githubusercontent.com/u/4074517?v=3&s=40" />
  <!-- Bootstrap Core CSS -->
  <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="css/landing-page.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"> -->
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand topnav" href="https://tingge.github.io/">
          <i class="fa fa-flask icon-3x" aria-hidden="true"></i> 听歌实验室
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="html/js.html">JavaScript/NodeJS</a>
          </li>
          <li>
            <a href="#agile">敏捷/项目管理</a>
          </li>
          <li>
            <a href="html/iot.html">智能硬件</a>
          </li>
          <li>
            <a href="html/me.html">关于我</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Header -->
  <a name="top"></a>
  <div class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>嗨，我是 Ting</h1>
            <h3>在这儿讲着一个“斜杠青年”的故事……</h3>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons">
              <li>
                <a href="http://weibo.com/1667946592/profile" class="btn btn-default btn-lg"><i class="fa fa-weibo fa-fw"></i> <span class="network-name">微博</span></a>
              </li>
              <li>
                <a href="https://github.com/tingge" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
              </li>
              <li>
                <a href="/img/ting-wechat.png" class="btn btn-default btn-lg"><i class="fa fa-wechat fa-fw"></i> <span class="network-name">微信</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.intro-header -->

  <!-- Page Content -->
  <a name="js"></a>
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">JavaScript/NodeJS</h2>
          <p class="lead"><a href="html/js.html">JavaScript</a> 在经历 端的融合、栈的融合阶段。JavaScript 可以做很多事情：从前端到全栈，从桌面到移动、物联网、智能家居，从应用到游戏。然而，其在大数据、高强度计算等等这些考验性能和执行效率的场景并不适用。</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <img class="img-responsive" src="img/js.png" alt="">
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>

  <!-- /.content-section-a -->
  <a name="agile"></a>
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">敏捷/项目管理</h2>
          <p class="lead">团队协作的核心是<a href="html/agile.html">项目管理</a>，其他工具需要配合项目管理平台来选择。</p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <img class="img-responsive" src="img/certification.png" alt="">
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-section-b -->
  <a name="iot"></a>
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">智能硬件</h2>
          <p class="lead">关于<a href="html/iot.html">硬件开发</a>的故事。我从 Ruff 玩儿起。直到有一天，头儿说“你要是对板子感兴趣，就和大家一起玩儿吧”，我说“OK啊”，于是开始了 Jetson 之路。 </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <img class="img-responsive" src="img/board.svg" alt="">
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-section-a -->

  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>听歌实验室</h2>
        </div>
        <div class="col-lg-6">
          <ul class="list-inline banner-social-buttons">
            <li>
              <a href="http://weibo.com/1667946592/profile" class="btn btn-default btn-lg"><i class="fa fa-weibo fa-fw"></i> <span class="network-name">微博</span></a>
            </li>
            <li>
              <a href="https://github.com/tingge" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
            </li>
            <li>
              <a href="/img/ting-wechat.png" class="btn btn-default btn-lg"><i class="fa fa-wechat fa-fw"></i> <span class="network-name">微信</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.banner -->

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-inline">
            <li>
              <a href="#top">首页</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="html/js.html">JavaScript/NodeJS</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="#agile">敏捷/项目管理</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="html/iot.html">智能硬件</a>
            </li>
            <li>
              <a href="html/me.html">关于我</a>
            </li>
          </ul>
          <p class="copyright text-muted small">Copyright &copy; TingGe All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- jQuery -->
  <script src="lib/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap Core JavaScript/NodeJS -->
  <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
