<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta charset="UTF-8">
  <title>在线书柜</title>
  <link type="image/x-icon" rel="shortcut icon" href="https://avatars3.githubusercontent.com/u/4074517?v=3&s=40" />
  <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/landing-page.css" rel="stylesheet">
  <link href="./app/styles/theme.css" rel="stylesheet">
</head>

<body role="document">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand topnav" href="/">
          <i class="fa fa-flask icon-3x" aria-hidden="true"></i> 听歌实验室
        </a>
        <a class="navbar-brand topnav" href="#">
          我的书柜
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>

          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Begin page content -->
  <div class="container theme-showcase" role="main" ng-controller="BookCtrl">
    <input type="search" class="form-control" ng-model="criteria" placeholder="即时搜索">
    <ol>
      <li ng-repeat="book in books | filter : criteria | orderBy : 'name'">
        <span><a href="{{book.url}}" target="_blank">《{{book.name}}》</a> －－作者： {{book.author}}</span>
      </li>
    </ol>
  </div>

  <script type="text/javascript" src="./app/lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="./app/scripts/app.js"></script>
</body>

</html>
